<a href="https://colab.research.google.com/github/AYMAN-CHAREF/PyTricks/blob/main/Python's_namedtuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why Python is Great: Namedtuples
# Using namedtuple is way shorter than defining a class manually:

In [1]:
from collections import namedtuple

In [2]:
 Car = namedtuple('Car', 'color mileage')

Our new "Car" class works as expected:

In [3]:
my_car = Car('red', 3812.4)

In [4]:
 my_car.color

'red'

In [5]:
my_car.mileage

3812.4

# We get a nice string repr for free:

In [6]:
my_car

Car(color='red', mileage=3812.4)

# Like tuples, namedtuples are immutable:

In [7]:
my_car.color = 'blue'

AttributeError: can't set attribute